@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

body {
    font-family: "Red Hat Text",sans-serif;
    font-size: 14px;
    font-weight: 700;
    background-image: url('images/pattern-hills.svg');
    background-repeat: no-repeat;
    background-size: cover;
}